@import "../../styles/base/settings";

.msg-header {
  margin-top: 50px;
  font-size: 40px;
  color: $light;
  text-align: center;
  width: 80%;
}

.msg-sub-header {
  margin-top: 10px;
  font-size: 25px;
  color: $light;
  text-align: center;
  width: 80%;
}
