@import '../../styles/base/settings';

.anchor{
    border: 1px solid $light;
    background-color: transparent;
    transition: $transition;
    width: 100%;
    max-width: $maxWidthButtons;
    border-radius: $borderRadiusButtons;
    display: flex;
    text-decoration: none;
    color: $light;
    align-items: center;
    justify-content: center;
    padding: $paddingButtons;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    &:hover{
        background-color: $light;
        color: $primary;
        cursor: pointer;
    }
}