//Colors
$primary: rgb(83, 83, 253);
$secondary: #9096b4;
$danger: crimson;
$success: rgb(77, 160, 84);
$ligth: #fff;
$dark: rgb(20, 20, 20);

//trasition & times
$transition: 300ms ease;

//border-radius
$borderRadiusButtons: 50px;
$minWidthButtons: 300px;
$paddingButtons: 20px 40px;

//screens
$mobile-end: 500px;
$tablet-start: 501px;
$tablet-end: 980px;
$desktop-start: 981px; 
